$c-800-gray: #1d1f21; // 24/7 bg color & footer bg color
$c-700-gray: #2c2f30; // navbar bg color & solo, pro, team bg color
$c-600-gray: #2b2d30; // time tracking section bg color
$c-500-gray: #3f4345; // navbar menu active bg color
$c-450-gray: #525559;
$c-400-gray: #5f6266; // sign up button border color & feature icon border color & border bottom color of logo
$c-350-gray: #6e7278;
$c-300-gray: #8f9196; // sub feature color
$c-250-gray: #909499;
$c-200-gray: #a5a7ad; // paragaraph color
$c-100-gray: #d7d9de; // feature color & pro plan title bg color
$c-50-gray: #f2f4f7; // sub heading color

$c-600-green: #168c5d; // ok button active bg color
$c-300-green: #0ac278; // solid button bg color
$c-200-green: #0bd685; // w/arrow button color

$c-900-blue: #005282;
$c-600-blue: #4c709e;
$c-300-blue: #0f8ad1;

$c-black: #000000; // press bg color & pricing bg color & navbar menu hover bg color
$c-white: #ffffff; // heading color
