@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.emailSupportWrapper {
  background-color: $c-800-gray;

  @include breakpoint(md-screen) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .w-container {
    padding-bottom: 60px;
    margin: 0 20px;

    @include breakpoint(xsm-screen) {
      margin: 0 30px;
    }
  }

  .bagAndHands {
    max-width: 100%;
    background-image: url('../images/bag-and-hands-bw.jpg');
    background-size: cover;
    background-position: center center;
    height: 226px;

    @include breakpoint(md-screen) {
      height: 100%;
    }
  }

  .subHeading {
    font: 3rem/35px $f-regular;
    color: $c-50-gray;
    text-align: left;
    padding: 35px 0 0;
  }

  .description {
    font: 1.4rem/22px $f-regular;
    color: $c-200-gray;
    text-align: left;
    padding: 12px 0 17px;
  }

  .support {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;

    @include breakpoint(md-screen) {
      padding: 30px 20px;
    }

    @include breakpoint(lg-screen) {
      padding: 30px 0 30px 20px;
      width: 440px;
    }
  }
}
