@import '_colors.scss';
@import '_typography.scss';

.featureOneWrapper {
  section {
    margin-top: 7px;

    .icon {
      filter: brightness(0.93);
      width: 55px;
      height: 55px;
      padding: 12px 12px;
    }

    figure {
      display: flex;
      flex-flow: row;
      text-align: left;
      align-items: center;

      .record,
      .play,
      .pause {
        border: 2px solid $c-400-gray;
      }

      .play {
        margin: 12px 0;
      }

      .featureName {
        font: 1.6rem/19px $f-condensed-regular;
        color: $c-100-gray;
      }

      p {
        font: 1.2rem/15px $f-regular;
        color: $c-300-gray;
        margin-top: 2px;
      }

      div {
        margin-left: 15px;
      }
    }
  }
}
