@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.darkGrayContainer {
  background-color: $c-800-gray;

  @include breakpoint(md-screen) {
    display: block;
  }

  .w-container {
    padding: 40px 20px;
    text-align: left;

    @include breakpoint(xsm-screen) {
      padding: 80px 30px;
    }

    @include breakpoint(md-screen) {
      display: grid;
      grid-template-columns: 169px 169px 169px 169px;
      justify-content: center;
      align-items: flex-start;
      grid-column-gap: 20px;
      padding: 80px 15px;
    }

    @include breakpoint(lg-screen) {
      grid-template-columns: 220px 220px 220px 220px;
      grid-column-gap: 21px;
      padding: 80px 25px;
    }
  }

  .getHelp h4,
  .boringStuff h4 {
    margin-top: 40px;

    @include breakpoint(md-screen) {
      margin-top: 0;
    }
  }

  .newsLetter {
    @include breakpoint(md-screen) {
      margin-top: 0;
    }
  }

  h4 {
    font: 1.6rem/19px $f-condensed-regular;
    color: $c-100-gray;
  }

  .footerLinks {
    margin-top: 15px;
    list-style: none;

    li a {
      font: 1.4rem/20px $f-regular;
      color: $c-250-gray;
    }
  }
}
