@import '_colors.scss';
@import '_typography.scss';

.darkGrayContainer {
  background-color: $c-800-gray;
  position: relative;
  z-index: 2;

  .w-container {
    padding: 4rem 2rem;
    text-align: left;
  }

  .getHelp h4,
  .boringStuff h4 {
    margin-top: 4rem;
  }

  h4 {
    font-family: $f-condensed-regular;
    font-size: 1.6rem;
    color: $c-100-gray;
  }

  .footerLinks {
    margin-top: 1.5rem;
    list-style: none;

    li a {
      color: $c-250-gray;
      font-family: $f-regular;
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }

  .boringStuff {
    .logo {
      width: 17px;
      height: 17px;
      margin: 2rem 0;
    }

    .twitter,
    .facebook {
      transition: 400ms ease;

      &:hover {
        filter: brightness(2);
      }
    }

    .facebook {
      margin-left: 1rem;
    }

    p {
      font-family: $f-regular;
      font-size: 1.1rem;
      color: $c-400-gray;
      margin-top: 1rem;
    }

    .companyLogo {
      font-family: $f-medium;
      font-size: 2.1rem;
      color: $c-400-gray;
      border-bottom: 3px solid $c-400-gray;
      transition: 200ms ease;

      user-select: none;

      &:hover {
        border-bottom-color: $c-600-blue;
      }
    }
  }

  .newsLetter {
    margin-top: 3.3rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .email {
      font-family: $f-regular;
      font-size: 1.4rem;
      color: $c-100-gray;
      width: 73%;
      padding: 0.7em 1.2rem;
      background-color: $c-400-gray;
      border: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      caret-color: $c-white;

      &::placeholder {
        color: rgba($c-100-gray, 0.45);
      }

      &:focus {
        outline: none;
        background-color: $c-450-gray;
      }
    }
  }
}
