@import '_colors.scss';
@import '_typography.scss';

.getStarted {
  font-family: $f-medium;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: $c-200-green;
  padding: 3.2rem 0;
  background-color: transparent;
  transition: all 200ms ease;

  &:hover {
    color: $c-white;
  }
}
