@import '_colors.scss';
@import '_typography.scss';

.getSupport {
  font: 1.4rem/17px $f-medium;
  text-transform: uppercase;
  color: $c-100-gray;
  padding-bottom: 2px;
  border-bottom: 3px solid rgba(215, 217, 222, 0.2);
  background-color: transparent;
  transition: all 500ms ease;
  display: inline-flex;
  margin-top: 20px;

  &:hover {
    color: $c-white;
    border-color: $c-300-gray;
  }
}
