@import '_colors.scss';
@import '_typography.scss';

.getStartedSecondary {
  font: 1.4rem/17px $f-medium;
  text-transform: uppercase;
  color: $c-300-green;
  background-color: transparent;
  transition: all 200ms ease;

  &:hover {
    color: $c-white;
  }
}
