@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.homeWrapper {
  .w-container {
    margin: 0 20px;

    @include breakpoint(xsm-screen) {
      margin: 0 30px;
    }

    @include breakpoint(md-screen) {
      margin: 0 15px;
    }
  }

  %heading {
    font: 3rem/32px $f-regular;
    color: $c-50-gray;
  }

  %paragraph {
    font: 1.4rem/22px $f-regular;
    color: $c-200-gray;
    text-align: left;
    padding: 12px 0 17px;
  }

  > section:first-child {
    background-color: $c-800-gray;
    background-image: linear-gradient(
        315deg,
        rgba(17, 201, 247, 0.59),
        rgba(69, 110, 196, 0.51) 49%,
        rgba(113, 32, 153, 0.45) 100%
      ),
      url('../images/dark-laptop.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @include breakpoint(lg-screen) {
      display: grid;
      grid-template-rows: auto;
      justify-content: center;
    }

    .subHeading {
      font: 2.1rem/26px $f-regular;
      color: $c-50-gray;
      padding-top: 120px;

      @include breakpoint(xsm-screen) {
        font: 3.2rem/37px $f-regular;
      }

      @include breakpoint(md-screen) {
        font: bold 3.4rem/39px $f-medium;
        padding-top: 140px;
      }

      @include breakpoint(lg-screen) {
        font: bold 3.8rem/43px $f-medium;
        padding-top: 150px;
      }
    }

    h1 {
      font: 5rem/48px $f-condensed-bold;
      margin: 10px 0 11px;
      color: $c-white;

      @include breakpoint(md-screen) {
        font: 7rem/68px $f-condensed-bold;
        margin-top: 20px;
      }

      @include breakpoint(lg-screen) {
        font: 9.4rem/90px $f-condensed-bold;
        margin-top: 14px;
        width: 720px;
      }
    }

    p {
      font: 1.75rem/25px $f-slab-light;
      color: rgba(242, 246, 252, 0.63);
      padding: 0 25px;

      @include breakpoint(xsm-screen) {
        padding: 0;
      }

      @include breakpoint(md-screen) {
        font: 1.9rem/30px $f-slab-light;
      }
    }

    .btns {
      display: flex;
      flex-flow: row wrap;
      margin: 40px 0;

      @include breakpoint(xsm-screen) {
        justify-content: center;
      }
    }

    .imgCrop {
      height: 200px;
      margin-top: 70px;

      @include breakpoint(xsm-screen) {
        height: 230px;
      }

      @include breakpoint(md-screen) {
        height: 260px;
      }

      @include breakpoint(lg-screen) {
        height: 170px;
        width: 480px;
        transition: 450ms ease;
        margin-right: auto;
        margin-left: auto;

        &:hover {
          height: 250px;
        }
      }

      .blackIpad {
        width: 100%;
        display: inline-block;

        @include breakpoint(xsm-screen) {
          padding: 0;
        }

        @include breakpoint(sm-screen) {
          width: 480px;
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: $c-black;
    position: relative;
    z-index: 2;

    .w-container {
      @include breakpoint(md-screen) {
        display: grid;
        grid-template-columns: 110px 630px;
        justify-content: center;
        align-items: center;
        padding: 25px 0;
        margin: 0 10px;
      }

      @include breakpoint(lg-screen) {
        margin: 0 25px;
        grid-template-columns: 114px 800px;
        grid-column-gap: 22px;
      }
    }

    p {
      font: 1.4rem/17px $f-slab-light;
      color: dimgrey;
      padding-top: 20px;

      @include breakpoint(md-screen) {
        padding: 0;
        margin-right: 12px;
      }

      @include breakpoint(lg-screen) {
        margin-right: 20px;
      }
    }

    .press {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      padding-bottom: 20px;
      margin-top: 20px;
      transform: translate3d(0, 0, 0);

      @include breakpoint(xsm-screen) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 0;
      }

      @include breakpoint(md-screen) {
        display: inline-flex;
        padding: 0;
        align-items: center;
      }

      img {
        width: 141px;
        padding: 15px 0;
        transition: 450ms ease;
        transform: translate3d(0, 0, 0);

        @include breakpoint(xsm-screen) {
          &:first-child,
          &:nth-child(4) {
            padding: 15px 12px;
          }
        }

        @include breakpoint(md-screen) {
          width: 105px;
          margin: 0 12px;

          &:first-child,
          &:nth-child(4) {
            padding: 15px 0;
            width: 95px;
          }
        }

        @include breakpoint(lg-screen) {
          width: 141px;
          margin: 0 15px;

          &:first-child,
          &:nth-child(4) {
            width: 128px;
          }
        }

        &:hover {
          filter: brightness(1.4);
        }
      }

      .logo {
        max-width: 100%;
      }
    }
  }

  section:nth-child(4) {
    background-color: $c-800-gray;

    .w-container {
      padding: 40px 0;

      @include breakpoint(md-screen) {
        display: grid;
        grid-template-columns: 416px 290px;
        justify-content: center;
        grid-column-gap: 32px;
        padding: 80px 0 0;
      }

      @include breakpoint(lg-screen) {
        grid-template-columns: 506px 380px;
        grid-column-gap: 55px;
        margin: 0 25px;
      }
    }

    .imgCrop {
      height: 260px;
      border-bottom: 3px solid $c-400-gray;
      overflow: hidden;

      @include breakpoint(xsm-screen) {
        height: 440px;
      }

      @include breakpoint(md-screen) {
        border-bottom: none;
        justify-self: left;
      }

      .blackIpad {
        width: 100%;
        padding: 0 15px;

        @include breakpoint(xsm-screen) {
          padding: 0;
        }

        @include breakpoint(sm-screen) {
          width: 476px;
        }

        @include breakpoint(md-screen) {
          width: 416px;
        }

        @include breakpoint(lg-screen) {
          width: 490px;
        }
      }
    }

    .easyToUse {
      background-color: $c-800-gray;

      @include breakpoint(lg-screen) {
        width: 370px;
      }

      .subHeading {
        @extend %heading;
        padding-top: 30px;

        @include breakpoint(md-screen) {
          padding-top: 0;
        }
      }

      .description,
      .subHeading {
        text-align: left;
      }

      .description {
        @extend %paragraph;
      }
    }
  }

  section:nth-child(5) {
    background-color: $c-600-gray;

    .w-container {
      padding: 40px 0 0;

      @include breakpoint(md-screen) {
        display: grid;
        grid-template-columns: 365px 359px;
        justify-content: center;
        grid-column-gap: 15px;
        padding: 80px 0 0;
      }

      @include breakpoint(lg-screen) {
        margin: 0 25px;
        grid-template-columns: 368px 550px;
        grid-column-gap: 24px;
      }
    }

    .takeItAnywhere {
      .subHeading {
        @extend %heading;
      }

      .description,
      .subHeading {
        text-align: left;
      }

      .description {
        @extend %paragraph;
      }
    }

    .imgCrop {
      height: 340px;
      overflow: hidden;

      @include breakpoint(xsm-screen) {
        height: 400px;
      }

      @include breakpoint(md-screen) {
        height: 450px;
        overflow: hidden;
      }

      .iPhone {
        width: 221px;
        margin-top: 25px;

        @include breakpoint(xsm-screen) {
          width: 281px;
        }

        @include breakpoint(md-screen) {
          margin-top: 0;
        }
      }
    }
  }

  section:nth-child(6) {
    position: relative;
    background-color: $c-black;

    .w-container {
      padding: 40px 0;

      @include breakpoint(md-screen) {
        padding: 80px 0 80px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }

      @include breakpoint(lg-screen) {
        margin: 0 25px;
      }
    }

    .pricing {
      @include breakpoint(md-screen) {
        width: 739px;
      }

      @include breakpoint(lg-screen) {
        width: 939px;
      }

      .subHeading {
        @extend %heading;
      }

      #description,
      .subHeading {
        text-align: left;
      }

      .description {
        @extend %paragraph;
      }
    }
  }
}
