@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.learnMore {
  font: 1.6rem/19px $f-condensed-regular;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
  padding: 11px 24px;
  width: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.54);
  border-radius: 2px;
  transition: all 200ms ease;
  margin-top: 15px;

  &:hover {
    border-color: $c-white;
    color: $c-white;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.16);
    border: 2px solid rgba(255, 255, 255, 0.54);
    color: rgba(255, 255, 255, 0.65);
  }

  @include breakpoint(xsm-screen) {
    width: initial;
    margin: 0 0 0 15px;
  }
}
