@import '_colors.scss';
@import '_typography.scss';

%wPos {
  width: 100%;
  position: fixed;
}

.navBarWrapper {
  .navBar {
    @extend %wPos;
    background-color: $c-700-gray;
    height: 6rem;
    z-index: 99;

    .w-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      height: 6rem;
    }

    .companyLogo {
      font-family: $f-medium;
      font-size: 2.1rem;
      color: $c-white;
      border-bottom: 3px solid $c-400-gray;
      transition: 200ms ease;
      float: left;
      margin: 1.5rem 2rem;
      user-select: none;

      &:hover {
        border-bottom-color: $c-600-blue;
      }
    }

    .menu {
      height: 6rem;
      width: 5.7rem;
      margin-right: 1rem;
      display: flex;
      justify-self: right;
      justify-content: center;
      cursor: pointer;
      user-select: none;

      .hamburger {
        width: 14px;
      }

      &:hover {
        background-color: $c-black;
      }

      &.active {
        background-color: $c-black;
      }
    }
  }

  $insetTopShadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);

  .navLinks {
    .overlay {
      @extend %wPos;
      background-color: $c-black;
      z-index: 10;
      left: 0;
      right: 0;
      transition: 450ms ease;
      transform: translate3d(0, -100%, 0);

      li {
        list-style: none;
        text-align: left;
        border-bottom: 1px solid $c-600-gray;
        cursor: pointer;

        a {
          font-family: $f-regular;
          font-size: 1.1rem;
          color: $c-white;
          line-height: 6rem;
          letter-spacing: 0.15rem;
          padding-left: 3rem;
          display: block;
          user-select: none;

          &:active,
          &.active {
            background-color: $c-900-blue;
            box-shadow: $insetTopShadow;
          }
        }

        &:hover {
          background-color: $c-400-gray;
          box-shadow: $insetTopShadow;
          transition: 320ms ease;

          &:last-child {
            border-bottom: 1px solid $c-400-gray;
          }
        }
      }

      &.slideDown {
        max-height: 400px;
        margin-top: 6rem;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

@media only screen and(min-width: 480px) {
  .navBarWrapper {
    .navBar {
      margin-right: auto;
      margin-left: auto;

      .companyLogo {
        margin-left: 3rem;
        position: relative;
      }

      .menu {
        margin-right: 3rem;
      }
    }
  }
}

@media only screen and(min-width: 768px) {
  .navBarWrapper {
    .navBar {
      .w-container {
        grid-template-columns: 384px 384px;
      }

      .companyLogo {
        margin-left: 1.5rem;
      }

      .menu {
        margin-right: 1.5rem;
      }
    }

    .navLinks {
      .overlay {
        li {
          a {
          }
        }
      }
    }
  }
}

@media only screen and(min-width: 992px) {
  .navBarWrapper {
    .navBar {
      .w-container {
        grid-template-columns: 496px 496px;
      }

      .companyLogo {
        margin-left: 2.5rem;
        z-index: 101;
      }

      .menu {
        display: none;
      }
    }

    .navLinks {
      .overlay {
        background-color: transparent;
        z-index: 100;
        transform: translate3d(0, 0, 0);
        display: inline-flex;
        justify-content: left;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 730px;

        li {
          display: inline-block;
          border-bottom: none;

          &:nth-child(6) {
            display: none;
          }

          &:hover {
            background-color: $c-black;
          }

          a {
            padding: 0;
            display: grid;
            grid-template-columns: 95px;
            justify-items: center;

            &:active,
            &.active {
              background-color: $c-500-gray;
              box-shadow: none;
            }
          }
        }

        &.slideDown {
          margin-top: 0;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
