@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.newsLetterWrapper {
  margin-top: 33px;

  @include breakpoint(md-screen) {
    margin-top: 0;
  }

  .subscribe {
    display: grid;
    grid-template-columns: 73% 27%;
    align-items: flex-start;

    .email {
      font: 1.4rem/17px $f-regular;
      color: $c-100-gray;
      width: 100%;
      height: 39px;
      padding: 7px 12px;
      background-color: $c-400-gray;
      border: 1px solid transparent;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      caret-color: $c-white;

      &::placeholder {
        color: rgba($c-100-gray, 0.45);
      }

      &:focus {
        outline: none;
        background-color: $c-450-gray;
        border: 1px solid $c-300-blue;
      }
    }

    .okBtn {
      font: 1.6rem/19px $f-condensed-regular;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.68);
      border: 1px solid transparent;
      padding: 9px 10px;
      width: 100%;
      cursor: pointer;
      background-color: $c-350-gray;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.11),
        inset 0px -34px 50px -25px rgba(0, 0, 0, 0.16),
        inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-left: 1px solid rgba($c-500-gray, 0.7);
      transition: all 200ms ease;

      &:hover {
        color: $c-white;
        background-color: #80858c;
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
      }

      &:active {
        box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, 0.25);
        background-color: $c-600-green;
      }
    }

    .email.err {
      border: 1px solid #cc0000;
    }

    .errMsg {
      font: 1.1rem/14px $f-light;
      margin-top: 10px;
      color: #cc0000;
    }
  }

  .success {
    background-color: $c-400-gray;
    padding: 40px 20px;
    display: none;
    margin-top: 40px;

    @include breakpoint(md-screen) {
    }
    margin-top: 0;

    .msg {
      font: 1.5rem/22px $f-regular;
      color: $c-200-gray;
      text-align: center;
      margin-top: 0;
    }
  }

  .logo {
    width: 17px;
    height: 17px;
    margin: 20px 0;
  }

  .socialLinks {
    width: 100%;

    .twitter,
    .facebook {
      transition: 400ms ease;

      &:hover {
        filter: brightness(2);
      }
    }

    .facebook {
      margin-left: 10px;
    }
  }

  p {
    font: 1.1rem/14px $f-regular;
    color: $c-400-gray;
    margin-top: 10px;
    width: 100%;
  }

  .companyLogo {
    font: 2.1rem/24px $f-medium;
    color: $c-400-gray;
    border-bottom: 3px solid $c-400-gray;
    transition: 200ms ease;

    user-select: none;

    &:hover {
      border-bottom-color: $c-600-blue;
    }
  }
}
