@import '_colors.scss';
@import '_typography.scss';

.plansWrapper {
  .solo,
  .pro,
  .team {
    background-color: $c-700-gray;

    .heading {
      font-family: $f-condensed-regular;
      font-size: 2.1rem;
      line-height: 3rem;
      color: $c-100-gray;
      display: block;
      text-transform: uppercase;
      padding: 1.85rem 0;
    }

    .price {
      padding-top: 3.5rem;

      li {
        list-style: none;

        &:first-child {
          font-family: $f-light;
          font-size: 5.2rem;
          line-height: 4.1rem;
          color: $c-100-gray;
        }

        &:last-child {
          font-family: $f-regular;
          font-size: 1.6rem;
          line-height: 2rem;
          color: $c-350-gray;
          text-transform: uppercase;
          margin-top: 1.5rem;
        }
      }
    }

    .package {
      list-style: none;
      margin-top: 3rem;
      margin-bottom: 1.5rem;

      li {
        font-family: $f-regular;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $c-100-gray;
        padding: 0.6rem 0;
      }
    }
  }

  .solo,
  .pro {
    li:nth-child(3) {
      text-decoration: line-through;
      color: rgba(215, 217, 222, 0.7);
    }
  }

  .pro {
    margin: 3rem 0;

    #pro {
      background-color: rgba(215, 217, 222, 0.09);
    }
  }

  #needHelp {
    font-family: $f-regular;
    font-size: 1.4rem;
    color: $c-200-gray;
    margin-top: 2.5rem;
  }
}

@media only screen and(min-width: 480px) {
  .plansWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;

    .solo,
    .pro,
    .team {
      width: 90%;
    }
  }
}

@media only screen and(min-width: 768px) {
  .plansWrapper {
    display: grid;
    grid-template-columns: 237px 237px 237px;
    grid-column-gap: 1.3rem;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      'plans plans plans'
      'needhelp needhelp needhelp';
    grid-area: plans;

    .pro {
      margin: 0;
    }

    .solo,
    .pro,
    .team {
      width: 237px;
    }

    .solo {
      justify-self: left;
    }

    .team {
      justify-self: right;
    }

    #needHelp {
      grid-area: needhelp;
      margin-top: 0;
      padding: 3rem 0 0;
      justify-self: right;
    }
  }
}

@media only screen and(min-width: 992px) {
  .plansWrapper {
    grid-template-columns: 299px 299px 299px;
    grid-column-gap: 2.2rem;

    .solo,
    .pro,
    .team {
      width: 299px;
    }
  }
}
