@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.plansWrapper {
  @include breakpoint(xsm-screen) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
  }

  @include breakpoint(md-screen) {
    display: grid;
    grid-template-columns: 237px 237px 237px;
    grid-column-gap: 13px;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      'plans plans plans'
      'needhelp needhelp needhelp';
    grid-area: plans;
  }

  @include breakpoint(lg-screen) {
    grid-template-columns: 299px 299px 299px;
    grid-column-gap: 22px;
  }

  .solo {
    @include breakpoint(md-screen) {
      justify-self: left;
    }
  }

  .team {
    @include breakpoint(md-screen) {
      justify-self: right;
    }
  }

  .solo,
  .pro,
  .team {
    background-color: $c-700-gray;

    @include breakpoint(xsm-screen) {
      width: 90%;
    }

    @include breakpoint(md-screen) {
      width: 237px;
    }

    @include breakpoint(lg-screen) {
      width: 299px;
    }

    .heading {
      font: 2.1rem/30px $f-condensed-regular;
      color: $c-100-gray;
      display: block;
      text-transform: uppercase;
      padding: 18px 0;
    }

    .price {
      padding-top: 35px;

      li {
        list-style: none;

        &:first-child {
          font: 5.2rem/41px $f-light;
          color: $c-100-gray;
        }

        &:last-child {
          font: 1.6rem/20px $f-regular;
          color: $c-350-gray;
          text-transform: uppercase;
          margin-top: 15px;
        }
      }
    }

    .package {
      list-style: none;
      margin: 30px 0 15px;

      li {
        font: 1.6rem/20px $f-regular;
        color: $c-100-gray;
        padding: 6px 0;
      }
    }
  }

  .solo,
  .pro {
    li:nth-child(3) {
      text-decoration: line-through;
      color: rgba(215, 217, 222, 0.7);
    }
  }

  .pro {
    margin: 30px 0;

    #pro {
      background-color: rgba(215, 217, 222, 0.09);
    }

    @include breakpoint(md-screen) {
      margin: 0;
    }
  }

  #needHelp {
    font: 1.4rem/17px $f-regular;
    color: $c-200-gray;

    @include breakpoint(md-screen) {
      grid-area: needhelp;
      margin-top: 0;
      padding: 30px 0 0;
      justify-self: right;
    }
  }
}
