@import '_colors.scss';
@import '_typography.scss';

.pricingWrapper {
  .solo,
  .pro,
  .team {
    background-color: $c-700-gray;

    .heading {
      font-family: $f-condensed-regular;
      font-size: 2.1rem;
      line-height: 3rem;
      color: $c-100-gray;
      display: block;
      text-transform: uppercase;
      padding-top: 2rem;
    }

    .price {
      padding-top: 6rem;

      li {
        list-style: none;

        &:first-child {
          font-family: $f-regular;
          font-size: 5.2rem;
          line-height: 4.1rem;
          color: $c-100-gray;
        }

        &:last-child {
          font-family: $f-regular;
          font-size: 1.6rem;
          line-height: 2rem;
          color: $c-350-gray;
          text-transform: uppercase;
          margin-top: 1.5rem;
        }
      }
    }

    .package {
      list-style: none;
      margin-top: 3rem;
      margin-bottom: 1.5rem;

      li {
        font-family: $f-regular;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $c-100-gray;
        padding: 0.6rem 0;
      }
    }
  }

  .solo,
  .pro {
    li:nth-child(3) {
      text-decoration: line-through;
      color: rgba(215, 217, 222, 0.7);
    }
  }

  .pro {
    margin: 3rem 0;
  }

  #needHelp {
    font-family: $f-regular;
    font-size: 1.4rem;
    color: $c-200-gray;
    margin-top: 2.5rem;
  }
}
