@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.signUpPrimary {
  font: 1.1rem/14px $f-regular;
  text-transform: uppercase;
  color: $c-white;
  padding: 6px 20px;
  display: none;
  background-color: transparent;
  border: 1px solid $c-400-gray;
  letter-spacing: 1px;
  transition: all 200ms ease;

  &:hover {
    background-color: $c-black;
  }

  @include breakpoint(lg-screen) {
    display: inline-block;
    padding-top: 7px;
    position: absolute;
    right: -105px;
  }
}
