@import '_colors.scss';
@import '_typography.scss';

.signUpPrimary {
  font-family: $f-regular;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: $c-white;
  padding: 0.64rem 2rem;
  display: none;
  background-color: transparent;
  border: 1px solid $c-400-gray;
  letter-spacing: 0.15rem;
  transition: all 200ms ease;

  &:hover {
    background-color: $c-black;
  }
}

@media only screen and(min-width: 992px) {
  .signUpPrimary {
    display: inline-block;
    width: 97px;
    height: 30px;
    padding-top: 0.7rem;
    position: absolute;
    margin-left: 73.75rem;
  }
}
