@import '_colors.scss';
@import '_typography.scss';
@import '_mixins.scss';

.startTracking {
  background-color: $c-black;
  background-image: linear-gradient(
    312deg,
    rgba(136, 92, 156, 0.63) 6%,
    rgba(143, 90, 166, 0.8) 100%
  );

  .w-container {
    margin: 0 20px;
    padding-bottom: 60px;

    @include breakpoint(md-screen) {
      display: grid;
      grid-template-columns: 493px 245px;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      margin: 0 15px;
    }

    @include breakpoint(lg-screen) {
      grid-template-columns: 554px 350px;
      grid-column-gap: 38px;
      margin: 0 25px;
    }
  }

  .content {
    @include breakpoint(md-screen) {
      text-align: left;
    }

    .subHeading {
      font: 3.2rem/36px $f-condensed-regular;
      color: $c-50-gray;
      padding-top: 40px;
    }

    .description {
      font: 1.8rem/25px $f-slab-light;
      color: rgba(242, 246, 252, 0.63);
      margin: 10px 0 30px;
    }
  }
}
