@import '_colors.scss';
@import '_typography.scss';

%heading {
  font-family: $f-regular;
  font-size: 3rem;
  color: $c-50-gray;
  text-align: left;
}

%paragraph {
  font-family: $f-regular;
  font-size: 1.4rem;
  color: $c-200-gray;
  line-height: 2.2rem;
  text-align: left;
  padding-bottom: 1.75rem;
  padding-top: 1.25rem;
}

.timeTrackingWrapper {
  position: relative;
  background-color: $c-600-gray;
  margin-top: -1px;

  .w-container {
    padding: 0 0.7rem;
  }

  .content {
    #heading {
      @extend %heading;
      padding-top: 3.5rem;
      line-height: 3.5rem;
      padding-bottom: 0;
    }

    #description {
      @extend %paragraph;
    }

    .allDevices {
      max-width: 100%;
      padding: 2rem 3.5rem 3.75rem;
    }
  }
}

@media only screen and(min-width: 480px) {
  .timeTrackingWrapper {
    .content {
      .allDevices {
        width: 50%;
        padding: 2rem 0 3.75rem;
      }
    }
  }
}

@media only screen and(min-width: 768px) {
  .timeTrackingWrapper {
    .w-container {
      padding: 0;
    }

    .content {
      display: grid;
      grid-template-columns: 479px 230px;
      grid-column-gap: 2.5rem;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 8rem 0;

      #heading {
        padding: 0;
      }

      #description {
        padding-bottom: 3rem;
      }

      .allDevices {
        width: 229px;
      }
    }
  }
}

@media only screen and(min-width: 992px) {
  .timeTrackingWrapper {
    .w-container {
      margin: 0 2.8rem;
    }

    .content {
      grid-template-columns: 550px 302px;
      grid-column-gap: 8.5rem;

      .allDevices {
        width: 300px;
      }
    }
  }
}
